.group {
    display: flex;
}
.toggle-password-visibility {
    width: 32px;
    height: 32px;

    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.toggle-password-visibility + input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.no-radius-right {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.generate-new-password {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
